html{font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
h1{font-size: 3em;}
h2{font-size: 2em;}
img{width: 150px;}
#products{display: flex;}
.product{ border: 2px solid; border-radius: 1em; margin: 1em; padding: 1em;}
.image{height: 300px;  width: 300px;}
.description{height: 200px; }
.title{font-size: 1.5em; min-height: 50px;}
.price{font-weight: bold; }